<ul>
  <li>
    This is the doctors dahsboard where he can view all the patients who he/she
    is handling
  </li>
  <br />

  <li>
    In this page the Doctor can able to assign a particular test according to
    the patient condition to check whether he/she is suffering from any mental
    stress or not
  </li>
  <br />

  <li>
    Doctors have the most previlaged access in the Website other than nurse
  </li>
</ul>

<style>
  ul {
    margin-top: 20px;
    padding-left: 20px;
    font-style: italic;
  }
  span {
    font-weight: bolder;
  }
</style>
